 @import "settings";
 /*
  * Global colour palette
  */
  $completed: #07af00;
  $cancelled: #af0000;
  $progress: #778899;

/*
 * Global styles
 */

.main {
  padding-top: 2em;
}

.side-nav {
  border-right: 1px solid $medium-gray;
  height: 100vh;
  background-color: $light-gray;
}

.sidebar {
  border-left: 1px solid $medium-gray;
  height: 100vh;
  background-color: $white;

  p.title {
    margin-bottom: 0;
  }
}

hr.tight {
  margin: 0.5rem auto;
}

/*
 * List styles
 */

 .list-item {
   display: block;
 }

.list-group {
  list-style: none;
  margin-left: 0;

  .list-group-item {
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: -1px;
    border: 1px solid $light-gray;
    padding: $global-padding/2 0 $global-padding/2 $global-padding;

    &:hover {
      background-color: $light-gray;
    }

    a {
      display: block;
      width: 100%;
    }
  }
}

/*
 * Repair details card
 */
.repair-details-page {
  background-color: $light-gray;
  padding-top: $global-padding;
}
/*
 * Repair card
 */

.card {
  border-radius: 2px;

  &.status {
    border-top: 8px solid $dark-gray;
    &-completed {
      border-top: 8px solid $completed;
    }
    &-progress {
      border-top: 8px solid $progress;
    }
    &-cancelled {
      border-top: 8px solid $cancelled;
    }
  }

  .priority {
    padding: 0 10px;
    margin: 0 10px;
    font-weight: bold;
    border-left: 1px solid $dark-gray;
    border-right: 1px solid $dark-gray;
  }

  .leading-number {
    font-weight: bold;
  }

  .status-text {
    font-weight: bold;
  }

  .status-text {
    &-completed,
    &-progress,
    &-cancelled {
      font-weight: bold;
      border-left: 1px solid $dark-gray;
      padding: 0 10px;
      margin: 0 0 0 10px;
    }

    &-completed {
      color: $completed;
    }
    &-progress {
      color: $progress;
    }
    &-cancelled {
      color: $cancelled;
    }

  }

  .trade {
    background-color: $dark-gray;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    padding: 8px;
    margin-left: 2px;

    &-sm {
      @extend .trade;
      font-size: 0.9rem;
      padding: 5px 8px;
      margin-top: -5px;
    }
  }

  .card-split-heading {
    margin-top: $global-margin/2;
    background-color: lighten($light-gray, 5%);
    .h6 {
      margin: 8px 0;
    }
  }
  .card-half {
    border-top: 1px solid $medium-gray;
    border-bottom: 1px solid $medium-gray;

    &:first-child {
      border-right: 1px solid $medium-gray;
    }

    &.no-pad {
      padding: 0;
    }

    .note {
      border-top: 1px solid $medium-gray;
      padding: 1rem 0 0.5rem 0;

      &:first-child {
        border-top: none;
      }

      .note-helptext {
        font-weight: bold;
        color: $dark-gray;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .task {
    padding: 1rem 1rem 0 1rem;
    border-top: 1px solid $medium-gray;
    &:first-child {
      border-top: none;
    }

    &.task-progress {
      border-top: 6px solid $progress;
    }

    &.task-completed {
      border-top: 6px solid $completed;
    }

    &.task-cancelled {
      border-top: 6px solid $cancelled;
    }

    p {
      font-size: 0.9rem;
    }

  }
}
